@import '@/shared/scss/variables';
@import '@/shared/scss/extends';
@import '@/shared/scss/mixins';

.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 128rem) minmax(
      2rem,
      1fr
    );
  grid-template-rows: 9rem 6rem minmax(auto, 80vh) 6rem;
  grid-template-areas:
    'header header header'
    '. . .'
    '. main .'
    '. . .';

  background-color: $background-color-page;
}

.header {
  @extend %flex-center;
  grid-area: header;
  background-color: $background-color-header;
}

.main {
  grid-area: main;
}

.footer {
  @extend %flex-center;
  height: 6rem;
  background-color: $background-color-footer;
}

// Media
@include mobile() {
  .page {
    grid-template-rows: 8rem 6rem minmax(auto, 80vh) 6rem;
  }

  .footer {
    height: 5rem;
  }
}
