@import '@/shared/scss/variables';
@import '@/shared/scss/mixins';

.compact {
  margin-top: 5rem;
}

.link {
  font-weight: weight(bold);
  text-decoration: underline;
  padding-left: 1rem;
  transition: color 0.2s ease;

  &:hover {
    color: darken($font-color-main, 10);
  }
}

// Media
@include mobile() {
  .compact {
    margin-top: 3rem;
  }
}
