@import '@/shared/ui/variables';

.post {
  padding: 2rem;
  max-width: 70rem;
  background-color: $background-color-post;
  border-radius: 1rem;

  &__title {
    font-size: $font-size-post-title;
    font-weight: weight(semiBold);
    padding-bottom: 2rem;
  }
}
