@import '@/shared/scss/variables';

.post {
  padding: 2rem;
  max-width: 60rem;
  background-color: $background-color-post;
  border-radius: 1rem;

  position: relative;

  &__title {
    font-size: $font-size-post-title;
    font-weight: weight(semiBold);
    padding-bottom: 2rem;
  }

  &__link {
    font-weight: weight(semiBold);
    transition: color 0.2s ease;

    position: absolute;
    content: '';
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      color: darken($font-color-main, 10);
    }
  }

  &--compact {
    height: 25rem;
  }
}

.overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 100%;
    bottom: 0%;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, $background-color-post);
  }
}
