@import '@/shared/scss/variables';
@import '@/shared/scss/mixins';

.post {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  max-width: 60rem;
  background-color: $background-color-post;
  border-radius: 1rem;
  overflow-y: auto;

  &__title {
    font-weight: weight(semiBold);
  }
}
