@import '@/shared/scss/variables';

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
  background-color: $background-color-posts-list;
  border-radius: 1rem;
}
