@import '@/shared/scss/variables';
@import '@/shared/scss/mixins';

.card {
  height: 100%;
  max-height: 100%;
}

.list {
  display: grid;
  justify-items: center;
}

.error,
.loading {
  padding: 2.5rem 0;
  text-align: center;
}

// Media
@include mobile() {
  .error,
  .loading {
    padding: 1.5rem 0;
  }
}
