@import '@/shared/scss/variables';

.card {
  height: 100%;
  max-height: 100%;
}

.list {
  display: grid;
  justify-items: center;
}

.loading {
  padding: 2.5rem 0;
  text-align: center;
}

.error {
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
}

.scroller {
  &::-webkit-scrollbar {
    width: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
    margin-block: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
  }
}
